html, body {
  //background: #F9F9F9;
  @apply bg-gray-100;
  scroll-behavior: smooth;
}
@screen lg {
  .container {
    padding: 0 2rem;
  }
}

.blog {
  background: #CD4C48 url("~assets/images/typewriter.jpg") no-repeat 100% 50%;
}

.about {
  background: #B12475 url("~assets/images/camera.jpg") no-repeat 100% 50%;
}

.work {
  background: #4826D4 url("~assets/images/pencil.jpg") no-repeat 100% 100%;
}

.banner {
  height: 98vh;
  max-height: 800px;
}
