html, body {
  @apply bg-gray-100;
  scroll-behavior: smooth;
}

@screen lg {
  .container {
    padding: 0 2rem;
  }
}

.banner {
  height: 90vh;
}

.content {
  @apply font-serif;
}

.blog {
  background: #CD4C48 url("~assets/images/typewriter.jpg") no-repeat;
}

.about {
  background: #B12475 url("~assets/images/camera.jpg") no-repeat;
}

.work {
  background: #4826D4 url("~assets/images/pencil.jpg") no-repeat;
}

.blog, .about, .work {
  background-position: 100% 100%;
  background-size: 60%;
}


@screen md {
  .blog, .work {
    background-size: auto;
    background-position: 100% 50%;
  }

  .about {
    background-size: auto;
    background-position: 100% 100%;
  }

  .work {
    background-position: 100% 100%;
  }

  .banner {
    height: 100vh;
    max-height: 700px;
  }

}
