html, body {
  @apply bg-gray-100;
  scroll-behavior: smooth;
}

@screen lg {
  .container {
    padding: 0 2rem;
  }
}

.banner {
  height: 90vh;
}

.content {
  @apply font-serif;
}

.home {
  background: #301d55 url("~assets/images/siraj-kimuli-mobile.png") no-repeat 100% 100%;
  background-size: 60%;
}

.blog {
  background: #CD4C48 url("~assets/images/typewriter.jpg") no-repeat;
}

.about {
  background: #B12475 url("~assets/images/camera.jpg") no-repeat;
}

.work {
  background: #4826D4 url("~assets/images/pencil.jpg") no-repeat;
}

.blog, .about, .work {
  background-position: 100% 100%;
  background-size: 60%;
}


@screen md {
  .blog, .work {
    background-size: auto;
    background-position: 100% 50%;
  }

  .about {
    background-size: auto;
    background-position: 100% 100%;
  }

  .home {
    background: #301d55 url("~assets/images/siraj-kimuli-desktop-2.png") no-repeat 100% 100%;
  }
  .work {
    background-position: 100% 100%;
  }

  .banner {
    height: 100vh;
    max-height: 800px;
  }

}

.nue-box {
  border-radius: 0px;
  /*background: linear-gradient(145deg, #ffffff, #dee1e3);*/
  box-shadow:  5px 5px 10px #e8ebed,
  -5px -5px 10px #ffffff;
}
